<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pousada Secreta</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;1,200&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1> 
           Bem vindo(a)
        </h1>
    </header>
    <main class="container">
        <div class="cad">
            <h2>Cadastro</h2>
            <p>
                
                nome 
                <input type="text" name="username" id="username">
            </p>
            <p>
                
                sobrenome: 
                <input type="text" name="lastname" id="lastname">
            </p>
            <p>
                Idade: 
                <input type="number" name="idade" id="useridade" placeholder="ex: 18">
            </p>
            
            <p>
                Sexo: 
                <input type="radio" name="sexo" id="sexom" checked>
                Masculino
                
                <input type="radio" name="sexo" id="sexof" >
                feminino
            </p>
            <p>
                Email: 
                <input type="email" name="email" id="useremail" placeholder="joazinho@email.com">
            </p>
            <p>    
                Endereço: 
            <input type="text" name="lastname" id="lastname" placeholder="opcional"></p>
            <p>
                telefone: 
                <input type="number" name="lastname" id="lastname" placeholder="(DDD) 9 99999999">
            </p>



        </div>
    </main>
    
    
    
</body>
</html>